useDynLib(milorGWAS)
import(gaston)
importFrom(Rcpp, evalCpp)
importFrom(gaston, standardize)
importFrom(gaston, logistic.mm.aireml)
importFrom("graphics", "plot", "points", "polygon", "segments")
importFrom("stats", "pchisq", "qbeta")

export(association.test.logistic)
export(association.test.logistic.dosage)
export(SNP.category)
export(qqplot.pvalues)
